[push]
  default = upstream
[fetch]
  prune = true
[color]
  ui = auto
[alias]
  aa = add --all
  ap = add --patch
  b = branch
  cm = commit -m
  ca = commit --amend
  ci = commit -v
  co = checkout
  sla = log --oneline --decorate --graph --all -40
  unstage = reset
  uncommit = reset --soft HEAD^
  mup = !git checkout master && git pull && git checkout -
  cop = checkout -
  fall = "!for remote in $(git remote); do echo "Fetching $remote"; git fetch "$remote"; done"
  upstream = rev-parse --abbrev-ref --symbolic-full-name @{upstream}
  ureset = !git upstream && git reset --hard $(git upstream)
  sync = !git fetch --all --prune && git pull --rebase && git push
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  autocrlf = input
; [merge]
;   ff = only
[pull]
  ff = only
[include]
  path = .gitconfig.local
[commit]
  template = ~/.gitmessage
[user]
  name = Francesco Renzi
  email = rentziass@gmail.com
	signingkey = DD50790054D9CCDE
[github]
  user = rentziass
[credential]
	helper = osxkeychain
[ghi]
	token = !security find-internet-password -a rentziass -s github.com -l 'ghi token' -w
[http]
	postBuffer = 1048576000
	cookiefile = /home/rentziass/.gitcookies
[filter "strongbox"]
	clean = strongbox -clean %f
	smudge = strongbox -smudge %f
	required = true
[diff "strongbox"]
	textconv = strongbox -diff
[branch "main"]
	mergeOptions = ff = only
[branch "master"]
	mergeOptions = ff = only
[url "ssh://git@github.com/actions/"]
	insteadOf = "https://github.com/actions/"
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://staffship-01.ghe.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.staffship-01.ghe.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
